.footer {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px; /* Increased padding for better spacing */
}

.socialMedia {
  margin-top: 20px; /* Increased margin for better spacing */
}

.socialMedia svg {
  color: white;
  margin: 0 10px; /* Reduced margin for a more compact look */
  font-size: 2rem; /* Adjusted font size for responsiveness */
  transition: transform 0.2s ease-in-out; /* Added smooth transition for hover effects */
  cursor: pointer;
}

.socialMedia svg:hover {
  transform: translateY(-5px); /* Example hover effect: slightly lift icons on hover */
}

.footer p {
  color: #ccc; /* Lightened text color for better readability */
  margin-top: 10px; /* Increased margin for better spacing */
  font-size: 0.9rem; /* Slightly reduced font size for footer text */
}

.footer p a {
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underline */
}

.footer p a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .footer {
    height: auto; /* Adjust height to auto for smaller screens */
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .socialMedia {
    margin-top: 10px; /* Reduce margin top for smaller screens */
  }

  .socialMedia svg {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
  }

  .footer p {
    font-size: 0.8rem; /* Decrease font size for smaller screens */
    margin-bottom: 10px; /* Adjust margin bottom for smaller screens */
  }
}
